[Unit]
Description=Apache SOLR 6 for Alfresco
After=syslog.target network.target remote-fs.target nss-lookup.target systemd-journal-dev-log.target
Before=multi-user.target graphical.target
Conflicts=shutdown.target
Requires=tomcat8.service
# Ojo: En instalacion de paquetes se solicita tomcat8, pero archivo tenia definido tomcat9
[Service]
User=solr
Type=forking
Environment=SOLR_INCLUDE=/opt/alfresco-search-services/solr.in.sh
ExecStart=/opt/alfresco-search-services/solr/bin/solr start -a "-Dcreate.alfresco.defaults=alfresco,archive"
ExecStop=/opt/alfresco-search-services/solr/bin/solr stop
Restart=on-failure
[Install]
WantedBy=multi-user.target graphical.target